<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen709.ezenStop.model">
 	<select id="reviewList" parameterType="java.util.Map" resultType="ReviewBoardDTO">
		 select * 
		 from (
		 	select rownum rn, A.* 
		 	from (
		 		select * 
		 		from ezen_review_board 
		 		order by regdate desc)A
		 	) 
		 where rn between #{start} and #{end}
 	</select>
	<select id="reviewGetCount" resultType="Integer">
		select count(*)
		from ezen_review_board
		where visible = 1
	</select>
</mapper>