<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen709.ezenStop.model">
	<select id="A_list" parameterType="java.util.Map" resultType="ReviewBoardDTO">
		select *
		from(
				select rownum rn, A.*
				from(
						select B.* , ezen_member.grade
						from ${tableName} B, ezen_member
						where ((B.id = ezen_member.id) and (B.visible = 1))
						order by B.article_num desc)A
					)
		where rn between #{start} and #{end}
	</select>
	<select id="A_notice_list" parameterType="java.util.Map" resultType="ReviewBoardDTO">
		select * 
		from(
				select rownum rn, A.*
				from( select * from 
				ezen_notice_board
				where category = #{category}
				order by article_num desc)A 
			)
		where rn between 1 and 5
	</select>
	<select id="AllNotice_list" resultType="ReviewBoardDTO">
		select * 
		from ezen_notice_board
		where category = 'ALL'
		order by article_num desc
	</select>
 	<select id="A_getCount" parameterType="java.util.Map" resultType="Integer">
 		select count(*) from ${tableName}
 	</select>
 	
 	 <insert id="A_insert" parameterType="java.util.Map">
 		insert into ${tableName} 
 		values (ezen_board_seq.nextval, #{category}, #{subject}, #{id}, #{content}, 
 		to_char(sysdate,'yyyy-mm-dd'), to_char(sysdate,'hh24:mi'), 0, 0, 0, 0, #{detaillocation}, 1, #{image}, #{filesize})
 	</insert>
 	 <update id="A_plusReadCount" parameterType="java.util.Map">
 		update ${tableName}
 		set readcount = readcount + 1 
 		where article_num = #{article_num}
 	</update>
 	
 	<select id="A_detail" parameterType="Integer" resultType="ReviewBoardDTO">
 		select A.*, ezen_member.grade , ezen_member.academylocation
 		from ${tableName} A , ezen_member
 		where ((A.id = ezen_member.id) and (article_num = #{article_num}))
 	</select>
 	<delete id="A_delete" parameterType="java.util.Map">
 		delete
 		from ${tableName}
 		where article_num = #{article_num}
 	</delete>
 	<update id="A_fileDelete" parameterType="java.util.Map">
 		update ${tableName}
 		set image = '파일없음', filesize = 0
 		where article_num = #{article_num}
 	</update>
 	<update id="A_edit" parameterType="java.util.Map">
 		update ${tableName}
 		set category = #{category}, subject = #{subject}, content = #{content}, image = #{image}, filesize = #{filesize}
 		where article_num = #{article_num}
 	</update>
 		<select id="A_searchList" parameterType="java.util.Map" resultType="ReviewBoardDTO">
  		select * 
  		from (
			select rownum rn, A.* 
			from (
		 		select B.* , ezen_member.grade, ezen_member.academylocation
		 		from ${tableName} B, ezen_member 
		 		where ((B.id = ezen_member.id) and (B.${searchtype} like #{searchstring}) and (visible = 1))
		 		order by B.article_num desc)A
		 	)
		 where rn between #{start} and #{end}
	</select>
	<select id="searchListGetCount" parameterType="java.util.Map" resultType="Integer">
	 	select count(*)	
	 	from ${tableName} 
	 	where ${searchtype} like #{searchstring} and visible = 1
	</select>
 	
 	<update id="A_changeVisibleStatus" parameterType="java.util.Map">
 		update ${tableName}
 		set visible = (visible * -1)
 		where article_num = #{article_num}
 	</update>
 	
 	<update id="A_updateReplyCount" parameterType="java.util.Map">
 		update ${tableName}
 		set replycount = #{replyCount} 
 		where article_num = #{article_num}
 	</update>
 	<update id="A_upCountBoard" parameterType="java.util.Map">
 		update ${tableName}
 		set upcount = upcount + 1
 		where article_num = #{article_num}
 	</update>
 	<update id="A_downCountBoard" parameterType="java.util.Map">
 		update ${tableName}
 		set downcount = downcount + 1
 		where article_num = #{article_num}
 	</update>
 	<select id="A_checkUserUpDown" parameterType="BoardUpDownDTO" resultType="Integer">
 		select count(*) from board_updown where ((article_num = #{article_num}) and (userId = #{userId}))
 	</select>
</mapper>