<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.ezen709.ezenstop.model">
  <insert id="createMember" parameterType="ezen_memberDTO">
 		insert into ezen_member values(#{email},#{id},#{passwd},#{name},sysdate,#{academyLocation},#{grade},#{status})
 </insert>
 <insert id= "insert_certification" parameterType="ezen_certificationDTO">
 		insert into ezen_certification values(#{id},#{name},#{academyLocation},#{image},#{filesize},sysdate)
 </insert>
 <insert id= "addBlock" parameterType="blockDTO">
 		insert into ezen_block values(#{id},#{blockId},#{memo})
 </insert>
 
 <select id="id_check" parameterType="String" resultType="Integer">
		 select count(*) from ezen_member where id=#{id}
 </select>
 <select id="emailCheck" parameterType="String" resultType="Integer">
		 select count(*) from ezen_member where email=#{email}
 </select>
 <select id="login" parameterType="java.util.Map" resultType="ezen_memberDTO">
		 select * from ezen_member where id=#{id} and passwd=#{passwd}
 </select>
  <select id="find_id" parameterType="java.util.Map" resultType="String">
		 select id from ezen_member where name=#{name} and email=#{email}
 </select>
 <select id="find_passwd" parameterType="java.util.Map" resultType="Integer">
		 select count(*) from ezen_member where name=#{name} and email=#{email} and id=#{id}
 </select>
 <select id="getMemberDTO" parameterType="String" resultType="ezen_memberDTO">
		 select * from ezen_member where id=#{id}
 </select>
 <select id="getFile" parameterType="String" resultType="ezen_certificationDTO">
 		 select * from ezen_certification where id=#{id}
 </select>

 <select id="getMemberList" parameterType="java.util.Map" resultType="ezen_memberDTO">
 		  		select * 
		from (
			select rownum rn, A.* 
		 	from (
		 		select * 
		 		from ezen_member 
		 		order by reg_date desc)A
		 	) 
		where rn between #{start} and #{end}
 </select>
 <select id="memberGetCount" resultType="Integer">
 		select count(*)	from ezen_member
 </select>
 <select id="getIdGrade" parameterType="String" resultType="Integer">
 		select grade from ezen_member where id= #{reply_id}
 </select>
 <select id="getIdLocation" parameterType="String" resultType="String">
 		select academyLocation from ezen_member where id= #{reply_id}
 </select>
 <select id="getWaittingMemberList" parameterType="java.util.Map" resultType="ezen_memberDTO">
 		select * from (
			select rownum rn, A.* from (
		 		select * 
		 		from ezen_member where status=1 
		 		order by reg_date desc)A
		 	)where rn between #{start} and #{end}
 </select>
  <select id="waittingMemberGetCount" resultType="Integer">
 		select count(*)	from ezen_member where status=1
 </select>
 <select id="searchMember" parameterType="java.util.Map" resultType="ezen_memberDTO">
  		select * from (
			select rownum rn, A.* from (
		 		select * 
		 		from ezen_member where ${searchtype} like #{searchstring} 
		 		order by reg_date desc)A
		 	)where rn between #{start} and #{end}
 </select>
  <select id="searchMemberGetCount" parameterType="java.util.Map" resultType="Integer">
 		select count(*)	from ezen_member where ${searchtype} like #{searchstring} 
 </select>
 
 <select id="myBoardLocation" resultType="String">
 		select TABLE_NAME from user_tab_columns where column_name = 'DETAILLOCATION'
 </select>
 <select id="myBoard" parameterType="java.util.Map" resultType="reviewBoardDTO"> 
 	select *  FROM ${tableName} where id = #{id}
 </select> 
 <select id="search_myBoard" parameterType="java.util.Map" resultType="reviewBoardDTO"> 
 	select *  FROM ${tableName} where id = #{id} and ${searchType} like #{searchString}
 </select> 
 <select id="myBlockListCount" parameterType="String" resultType="Integer">
 		select count(*) from ezen_block where id=#{id}
 </select>
 <select id="blockList" parameterType="java.util.Map" resultType="blockDTO">
 		select * from ezen_block where id=#{id}
 </select>
  <select id="search_myBlockListCount" parameterType="java.util.Map" resultType="Integer">
 		select count(*) from ezen_block where id=#{id} and ${searchType} like #{searchString}
 </select>
 <select id="search_blockList" parameterType="java.util.Map" resultType="blockDTO">
 		select * from ezen_block where id=#{id} and ${searchType} like #{searchString}
 </select>
 <select id="blockIdList" parameterType="String" resultType="String">
 		select blockId from ezen_block where id=#{id}
 </select>
 <select id="kakao_check" parameterType="String" resultType="Integer">
 		select count(*) from ezen_member where email=#{email}
 </select>
 <select id="get_info" parameterType="String" resultType="ezen_memberDTO">
 		select * from ezen_member where email=#{email}
 </select>
 
 <update id="change_passwd" parameterType="java.util.Map">
 		update ezen_member set passwd=#{passwd} where id=#{id}
 </update>
 <update id="update_certification" parameterType="java.util.Map">
 		update ezen_certification set academylocation=#{academylocation}, image=#{image}, filesize=#{filesize} where id=#{id}
 </update>
 <update id="member_upStatus" parameterType="String">
 		update ezen_member set status = 1 where id=#{id} 
 </update>
 <update id="updateMember" parameterType="java.util.Map">
 		update ezen_member set academylocation=#{academyLocation}, grade=#{grade}, status=#{status} where id=#{id}
 </update>

 
 <delete id="dropId" parameterType="String">
 		delete from ezen_member where id=#{id}
 </delete>
 <delete id="dropChat" parameterType="String">
 		delete from chat where toid=#{id} or fromid=#{id}
 </delete>
 <delete id="dropImage" parameterType="String">
 		delete from ezen_certification where id = #{id}
 </delete>
 <delete id="release_block" parameterType="java.util.Map">
 		delete from ezen_block where id = #{userId} and blockid = #{blockid}
 </delete>
 </mapper>
 
 <!-- select * 
		 from (select rownum rn, A.* from (select * from board order by re_step asc)A) 
		 where rn between #{start} and #{end} -->
 